{
    # Automatically reads the LOCAL_IP environment variable
    default_sni {$LOCAL_IP}
}

{$LOCAL_IP}, localhost {
    tls {
        issuer internal
    }

    redir / /guacamole/
    reverse_proxy guacamole:8080
}
